# preferences file.  keeps user specific settings as well as hides the HBTEP server address from the public
_hbtPreferences.py

# misc files that aren't necessary and clutter the repository.  
.gitignore~
readme.md~
*.py~
*.pyc 
__init__.pyc
_getHBTData.pyc
_hbtPreferences.pyc
_plotTools.pyc
_processData.pyc
_rwDataTools.pyc
_feedBackTools.pyc
_feedBackTools_depricated.py
_feedBackTools.py
_processPlasma.pyc
