"""
This file is intended for several reasons:

1.  It provides computer and user specific settings that should not be common accross all branches
2.  It keeps the HBTEP server address private 

Notes
-----
If you are NOT using this remotely from the HBTEP server, you must fill in the following variables immediately after cloning the library.  If you don't know what they are, ask someone who does.  
"""

# hbt server address
_HBT_SERVER_ADDRESS = ""

# hbt server name
_HBT_SERVER_NAME = ""
